<div class="flex justify-center h-screen">
    <div class="m-auto">
        <form action="/edit-book/{{books.id}}" method="POST" class="w-full max-w-lg">
            <div class="flex flex-wrap -mx-5 mb-3 justify-center">
                <div class="w-full px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mt-2 mb-2" for="grid-city">
                        Title
                    </label>
                    <input name="title" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Book title" value="{{books.title}}">
                </div>
                 <div class="w-full px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2 " for="grid-city">
                        Pages
                    </label>
                    <input name="pages" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Pages count" value="{{books.pages}}">
                </div>
                <div class="w-full px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2 " for="grid-city">
                        Isbn
                    </label>
                    <input name="isbn" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Book isbn" value="{{books.isbn}}">
                </div>
                <div class="w-full px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2 " for="grid-city">
                        Short description
                    </label>
                    <textarea name="short_description" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Few words about this book">{{books.short_description}}</textarea>
                </div>
                <div class="w-full px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2" for="grid-city">
                        Author
                    </label>
                    <select name="author_id" class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option value="0">Choose author</option>
                        {{#each authors}}
                        <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{name}} {{surname}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="w-full px-3 mb-6 md:mb-0 ">
                    {{!-- <label class="text-left block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-2 " for="grid-city">
                        Submit
                    </label> --}}
                    <button type="submit" class="mb-2 mt-2  max-w-fullbg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                    Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>