<main class="container">
    <div class="row">
        {{#if messages}}
        <div class="alert alert-{{status}}">{{messages}}</div>
        {{/if}}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit customer</h5>
                    <form method="POST" action="/edit-customer" enctype="multipart/form-data">
                    {{#each editCustomers}}
                    <input type="hidden" name="id" value="{{this.id}}">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" value="{{this.name}}"class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Surname</label>
                            <input type="text" name="surname" value="{{this.surname}}"class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="tel" name="phone" value="{{this.phone}}"class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" value="{{this.email}}"class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Photo</label>
                            <input type="file" name="photo" value="{{this.photo}}"class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Comment</label>
                            <textarea type="text" name="comment" id="comment" class="form-control">{{{this.comment}}}</textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Company id</label>
                            <select name="company_id" class="form-control">
                                <option value="0">Unemployed</option>
                                {{#each companies}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success" type="submit">Edit</button>
                        </div>
                        {{/each}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
