

<main class="container">
    <div class="row">
        {{#if messages}}
        <div class="alert alert-{{status}}">{{messages}}</div>
        {{/if}}
        {{#if customers}}
        <div class="toolbar">
            <form method="get" action="/list-customers">
            <label class="form-label">Filter companies</label>
            <select class="form-control" name="company_id" id="company_filter">
                <option value="0">Unemployed</option>
                {{#each companies}}
                <option value="{{id}}"{{#if selected}}selected="selected"{{/if}}>{{name}}</option>
                {{/each}}
            </select>
            <select class="form-control" name="customer_col" id="customer_col">
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="email">Email</option>
                <option value="company_id">Company</option>
            </select>
            <select class="form-control" name="position" id="position">
                <option value="ASC">a-z</option>
                <option value="DESC">z-a</option>
            </select>
            <button type="submit" class="float-start btn btn-secondary mt-1 mb-3">Filter</button>
            </form>
        </div>
        {{/if}}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customers list</h5>
                    <table class="table">
                        <tr>
                            <th>Photo</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Company</th>
                        </tr>
                        {{#each customers}}
                        <tr>
                            <td>
                                {{#if photo}}
                                <img width="50" src="/uploads/{{photo}}">
                                {{/if}}
                            </td>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{phone}}</td>
                            <td>{{email}}</td>
                            <td>{{#if company_name}}{{company_name}}{{else}}Unemployed{{/if}}</td>
                            <td>
                                <a href="/edit-customer/{{id}}" class="btn btn-success">Edit</a>
                                <a href="/delete-customer/{{id}}" class="btn btn-danger">Delete</a>
                                
                            </td>

                        </tr>
                        {{/each}}

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
